.post .label-info {position:absolute;top:0;left:0;margin:0 auto;width:auto;z-index:1;}
.label-info a{margin-right:5px;background:rgba(34,34,34,0.5);color:#fff;font-size:13px;display:block;float:left;padding:4px 12px;transition: all .3s ease-out;}
.label-info a:hover{background:#222;color:#fff;}
.label-info a:nth-child(n+3){display:none;}
@media only screen and (max-width:640px){
.label-info {display:none;}}
